<h1 class="text-center my-3"><%= @restaurant.name %></h1>

<div class="container">
  <div class="row">
      <div class="col-12 col-md-10 col-lg-8 mx-auto mt-3">
        <div class="card shadow">
          <p class="p-1"><%= link_to 'Back to list restaurants', restaurants_path %></p>
          <div class="card-body">
            <%= render @restaurant %>
            <h4 class="my-3"><strong>Add a review</strong></h4>
            <div class="">
              <%= simple_form_for [@restaurant, @review] do |f| %>
                <%= f.input :content %>
                <%= f.input :rating %>
                <%= f.button :submit, class: "btn btn-primary" %>
              <% end %>
            </div>
            <div class="mt-3">
              <% if @restaurant.reviews.empty? %>
                <h4 class="text-center">No reviews yet</h4>
              <% else %>
                <h4>Reviews</h4>
                <% @restaurant.reviews.each do |review| %>
                  <div class="card mb-3">
                    <div class="card-body">
                      <p><%= review.content %></p>
                      <p><%= review.rating %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>